*~
#*#
*.hi
*.o
*.elc
/.zsh/antigen-hs
/.xmonad/xmonad-x86_64-linux
/.xmonad/xmonad.errors
/.xmonad/history
/emacs/.emacs.d/emacs.el
/emacs/.emacs.d/notsynced/
/emacs/.emacs.d/org-clock-save.el
/emacs/.emacs.d/eshell/
/emacs/.emacs.d/recentf
/emacs/.emacs.d/tramp
/emacs/.emacs.d/recentf
/emacs/.emacs.d/tramp
/emacs/.emacs.d/elpa/
/emacs/.emacs.d/async-bytecomp.log
/emacs/.emacs.d/flycheck_org-clock-save.el
/emacs/.emacs.d/request/
/emacs/.emacs.d/semanticdb/
/emacs/.emacs.d/.cask/
/emacs/.emacs.d/projectile-bookmarks.eld
/emacs/.emacs.d/workbench.xmi
/emacs/.emacs.d/.mc-lists.el
/emacs/.emacs.d/projectile.cache
/emacs/.emacs.d/oauth2.plstore
/emacs/.emacs.d/emacs/.emacs.desktop.lock
/emacs/.emacs.d/emacs/.emacs.desktop
/emacs/.emacs.d/.sx/
/emacs/.emacs.d/url/
/emacs/.emacs.d/var/
/emacs/.emacs.d/.emacs.desktop
/emacs/.emacs.d/.emacs.desktop.lock
/emacs/.emacs.d/.org-id-locations
/emacs/.emacs.d/bookmarks
/emacs/.emacs.d/irony/bin/irony-server
/emacs/.emacs.d/irony/cdb-json-projects
