/.emacs.d/.cask/
*~
#*#
/.emacs.d/emacs.el
/.emacs.d/notsynced/
/.xmonad/xmonad-x86_64-linux
/.xmonad/xmonad.errors
/.xmonad/xmonad.hi
/.xmonad/xmonad.o
/.zsh/antigen-hs
/.xmonad/history
/.emacs.d/org-clock-save.el
/.emacs.d/eshell/
/.emacs.d/recentf
/.emacs.d/tramp
/.emacs.d/recentf
/.emacs.d/tramp
