*~
#*#
*.hi
*.o
*.elc
/.zsh/antigen-hs
/.xmonad/xmonad-x86_64-linux
/.xmonad/xmonad.errors
/.xmonad/history
/.emacs.d/emacs.el
/.emacs.d/notsynced/
/.emacs.d/org-clock-save.el
/.emacs.d/eshell/
/.emacs.d/recentf
/.emacs.d/tramp
/.emacs.d/recentf
/.emacs.d/tramp
/.emacs.d/elpa/
/.emacs.d/async-bytecomp.log
/.emacs.d/flycheck_org-clock-save.el
/.emacs.d/request/
/.emacs.d/semanticdb/
/.emacs.d/.cask/
